/*****************************************
* HTML ELEMENTS RESET
*****************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #353535;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #353535;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #353535;
  opacity: 1; /* Firefox */
}

/*****************************************
* UTILITY CLASSES
*****************************************/
.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.page-container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

/*****************************************
* TYPOGRAPHY RULES
*****************************************/
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/shrikhand-v11-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}

/*****************************************
* GLOBAL MODULES CLASSES
*****************************************/
.header {
  padding: 1em 0;
}
.header-link {
  position: relative;
}
.header-logo {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  color: #101010;
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  transition: 300ms;
}
.header-logo:hover, .header-logo:focus {
  color: #9356dc;
}
.header-arrow {
  position: absolute;
  font-size: 3rem;
  margin-top: 0.2em;
  transition: 300ms;
}
.header-arrow:hover, .header-arrow:focus {
  color: #9356dc;
}

.footer {
  background: #353535;
  color: #ffffff;
}
.footer-container {
  flex-flow: column nowrap;
  padding: 1.5em 0;
}
@media only screen and (min-width: 1024px) {
  .footer-container {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 1em;
}
.footer-nav {
  width: 100%;
  font-size: 1.6rem;
  text-align: justify;
}
.footer-nav-list {
  flex-flow: column nowrap;
  justify-content: flex-start;
}
@media only screen and (min-width: 1024px) {
  .footer-nav-list {
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
.footer-nav-item {
  margin: 0.1em 0;
  transition: 300ms;
}
@media only screen and (min-width: 1024px) {
  .footer-nav-item {
    width: 40%;
  }
}
.footer-nav-item:hover, .footer-nav-item:focus {
  color: #9356dc;
}
.footer-nav-logo {
  font-size: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
}
.footer-nav-link {
  margin: 0 0 0 1em;
}

.btn {
  color: #ffffff;
  border-radius: 2.8rem;
  padding: 1em 2em;
  font-size: 1.2rem;
  outline: none;
  border: none;
  transition: 300ms;
}
.btn-gradient {
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc, #ff79da);
}
.btn-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.6rem 1.2rem -0.2rem, rgba(0, 0, 0, 0.3) 0rem 0.3rem 0.7rem -0.3rem;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  background: linear-gradient(350deg, #ff79da, #99e2d0);
  box-shadow: rgba(50, 50, 93, 0.5) 0rem 0.6rem 1.2rem -0.2rem, rgba(0, 0, 0, 0.5) 0rem 0.3rem 0.7rem -0.3rem;
}

.card {
  flex-flow: column nowrap;
  border-radius: 2rem;
  margin: 1em 0;
  transition: 300ms;
  box-shadow: rgba(17, 17, 26, 0.1) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.1) 0rem 0.8rem 2.4rem, rgba(17, 17, 26, 0.1) 0rem 1.6rem 5.6rem;
}
.card-heart {
  transition: 1.2s;
}
.card-heart .fa-regular {
  opacity: 1;
  color: #1f1f1f;
}
.card-heart .fa-solid {
  opacity: 0;
  color: #9356dc;
}
.card-heart:hover, .card-heart:focus, .card-heart:active {
  cursor: pointer;
}
.card-heart:hover .fa-regular, .card-heart:focus .fa-regular, .card-heart:active .fa-regular {
  opacity: 0;
  color: #9356dc;
  transition: 1.2s;
}
.card-heart:hover .fa-solid, .card-heart:focus .fa-solid, .card-heart:active .fa-solid {
  opacity: 1;
  color: #9356dc;
  transition: 1.2s;
}
.card:hover, .card:focus {
  box-shadow: rgba(17, 17, 26, 0.2) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.2) 0rem 0.8rem 2.4rem, rgba(17, 17, 26, 0.2) 0rem 1.6rem 5.6rem;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  -webkit-animation: fadeout 2s forwards 0.2s;
          animation: fadeout 2s forwards 0.2s;
}
.loader-text {
  position: relative;
  z-index: 101;
  font-family: "Shrikhand", cursive;
  font-size: 10vw;
  letter-spacing: 0.5vw;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: loader-animate 2s forwards;
          animation: loader-animate 2s forwards;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*****************************************
* ANIMATIONS
*****************************************/
@-webkit-keyframes fadeout {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes loader-animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@keyframes loader-animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@-webkit-keyframes fadein {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes rotate-right {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*****************************************
* GLOBAL MEDIA QUERIES
*****************************************/
@media only screen and (min-width: 320px) {
  html {
    font-size: calc(62.5% + 0.4vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important; /* 1 */
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important; /* 1 */
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/
.location {
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  color: #353535;
  padding: 1em;
}
.location-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location-shadow {
  box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.location-logo {
  margin-left: 3.5em;
  margin-right: 1em;
}
.location-input {
  border: none;
  outline: none;
  background: transparent;
  text-align: left;
  font-size: 1.6rem;
}

.explore {
  background: #f7f7f7;
  padding: 2.5em 0;
}
.explore-container {
  text-align: center;
}
.explore-title {
  font-size: 2rem;
}
.explore-text {
  color: #353535;
  margin: 1em 0;
}

.steps {
  padding: 2.5em 0;
}
.steps-title {
  font-size: 2rem;
}
.steps-list {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 1024px) {
  .steps-list {
    flex-flow: row nowrap;
    align-items: center;
  }
}
.steps-card {
  position: relative;
  z-index: 1;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  width: calc(100% - 1.6rem);
  margin: 0.8em;
  padding: 1.5em 1em;
  border-radius: 2rem;
  background: #f7f7f7;
  box-shadow: rgba(17, 17, 26, 0.1) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.1) 0rem 0.8rem 2.4rem, rgba(17, 17, 26, 0.1) 0rem 1.6rem 5.6rem;
  transition: 300ms;
}
.steps-card-num {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: -1.5rem;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #ffffff;
  background: #9356dc;
}
.steps-card-logo {
  color: #7e7e7e;
  font-size: 1.6rem;
  margin: 0 1em;
}
.steps-card-text {
  color: #1f1f1f;
  font-size: 1.5rem;
  font-weight: 500;
}
.steps-card:hover, .steps-card:focus {
  background: #f5edff;
  box-shadow: rgba(17, 17, 26, 0.2) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.2) 0rem 0.8rem 2.4rem, rgba(17, 17, 26, 0.2) 0rem 1.6rem 5.6rem;
}
.steps-card:hover .steps-card-logo, .steps-card:focus .steps-card-logo {
  color: #9356dc;
}

.restaurants {
  background: #f7f7f7;
  padding: 2.5em 0;
}
.restaurants-title {
  font-size: 2rem;
}
.restaurants-container {
  flex-flow: column nowrap;
}
@media only screen and (min-width: 768px) {
  .restaurants-container {
    flex-flow: row wrap;
    -moz-column-gap: 4%;
         column-gap: 4%;
  }
}
.restaurants-card {
  position: relative;
  z-index: 1;
  height: 25rem;
  transition: 300ms;
}
@media only screen and (min-width: 768px) {
  .restaurants-card {
    width: 48%;
  }
}
.restaurants-card-pic {
  display: inline-block;
  height: 65%;
}
.restaurants-card-img {
  border-radius: 2rem 2rem 0 0;
}
.restaurants-card-desc {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  padding: 1em;
}
.restaurants-card-new {
  position: absolute;
  z-index: 2;
  top: 1em;
  right: 1em;
  background: #99e2d0;
  color: #008766;
  padding: 0.5em 0.8em;
}
.restaurants-card-heart {
  z-index: 3;
  font-size: 2.5rem;
  margin-right: 0.5em;
}
.restaurants-card:hover .restaurants-card-title, .restaurants-card:focus .restaurants-card-title {
  color: #9356dc;
}

/*****************************************
* MENU PAGE SPECIFIC STYLES
*****************************************/
.menu-img {
  height: 20rem;
}
.menu-header {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.menu-header-title {
  color: #101010;
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
}
.menu-header-heart {
  color: #4a4a4a;
  font-size: 2.5rem;
  margin: 0 0.5em 0 0;
}
.menu-content {
  position: relative;
  z-index: 2;
  margin-top: -4rem;
  padding: 2.5em 0;
  background: #f7f7f7;
  border-radius: 4rem 4rem 0 0;
}
.menu-section {
  flex-flow: column nowrap;
}
@media only screen and (min-width: 1024px) {
  .menu-section {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-section-container {
    width: 32%;
  }
}
.menu-section-title {
  position: relative;
  color: #1f1f1f;
  font-weight: 400;
  font-size: 1.6rem;
}
.menu-section-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 4rem;
  height: 0.4rem;
  background-color: #99e2d0;
  bottom: -0.5rem;
}
.menu-section > :nth-child(1) {
  visibility: hidden;
  -webkit-animation: fadein 2s ease-in-out forwards 1.6s;
          animation: fadein 2s ease-in-out forwards 1.6s;
}
.menu-section > :nth-child(2) {
  visibility: hidden;
  -webkit-animation: fadein 2s ease-in-out forwards 1.8s;
          animation: fadein 2s ease-in-out forwards 1.8s;
}
.menu-section > :nth-child(3) {
  visibility: hidden;
  -webkit-animation: fadein 2s ease-in-out forwards 2s;
          animation: fadein 2s ease-in-out forwards 2s;
}
.menu-card {
  flex-flow: row nowrap;
}
.menu-card-container {
  width: 100%;
  padding: 1em;
  border-radius: 2rem;
  transition: 0.5s;
}
.menu-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 300ms;
}
.menu-card-text {
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menu-card-desc {
  color: #202020;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-card-price {
  color: #353535;
  margin-right: 0.5em;
}
.menu-card-checkbox {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  background: #99e2d0;
  transition: 0.5s;
}
.menu-card-check {
  color: #ffffff;
  font-size: 2.2rem;
  transition: 300ms;
}
.menu-card:hover, .menu-card:focus, .menu-card:active {
  cursor: pointer;
}
.menu-card:hover .menu-card-title, .menu-card:focus .menu-card-title, .menu-card:active .menu-card-title {
  color: #9356dc;
}
.menu-card:hover .menu-card-container, .menu-card:focus .menu-card-container, .menu-card:active .menu-card-container {
  width: 85%;
}
.menu-card:hover .menu-card-checkbox, .menu-card:focus .menu-card-checkbox, .menu-card:active .menu-card-checkbox {
  display: flex;
  width: 15%;
}
.menu-card:hover .menu-card-check, .menu-card:focus .menu-card-check, .menu-card:active .menu-card-check {
  -webkit-animation: rotate-right 300ms forwards;
          animation: rotate-right 300ms forwards;
}
.menu-footer {
  flex-flow: row nowrap;
}
.menu-btn {
  margin: 1em auto;
}/*# sourceMappingURL=style.css.map */