/*****************************************
* GLOBAL MODULES CLASSES
*****************************************/

@use "../utils/" as *;

.footer {
    flex-flow: column nowrap;
    background: $footer-bg-color;
    color: $footer-text-color;
    padding: 1.5em 0;

    &-title {
        font-family: $logo-font, cursive;
        text-align: justify;
    }

    &-nav {
        font-size: 1.6rem;

        &-list {
            flex-flow: column nowrap;
            margin: 1em 0;
        }
    }
}

.header-shadow {
    -webkit-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.header-logo {
    width: 15rem;
    padding: 1em 0;
}
