/*****************************************
* GLOBAL MODULES CLASSES
*****************************************/

@use "../utils/" as *;

.header {
    padding: 1em 0;
    &-link {
        text-align: center;
    }
    &-logo {
        color: $logo-color;
        font-family: $logo-font, cursive;
        font-size: 3rem;
        transition: $transition-time;
        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}

.footer {
    flex-flow: column nowrap;
    background: $footer-bg-color;
    color: $footer-text-color;
    padding: 1.5em 0;

    &-title {
        font-family: $logo-font, cursive;
        font-size: 1.8rem;
        text-align: justify;
    }

    &-nav {
        font-size: 1.6rem;

        &-list {
            flex-flow: column nowrap;
            margin: 1em 0;
        }

        &-item {
            margin: 0.1em 0;
        }

        &-logo {
            font-size: 1.2rem;
            width: 1.2rem;
            vertical-align: middle;
        }

        &-link {
            margin: 0 0 0 1em;
            transition: $transition-time;
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
}

.btn {
    color: $btn-text-color;
    border-radius: 2.8rem;
    padding: 1em 2em;
    font-size: 1.2rem;
    outline: none;
    border: none;
    transition: $transition-time;

    &-gradient {
        background: $primary-color;
        background: linear-gradient($btn-gradient-deg, $primary-color, $secondary-color);
    }

    &-shadow {
        box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.6rem 1.2rem -0.2rem, rgba(0, 0, 0, 0.3) 0rem 0.3rem 0.7rem -0.3rem;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        background: linear-gradient($btn-gradient-deg, $secondary-color, $tertiary-color);
        box-shadow: rgba(50, 50, 93, 0.5) 0rem 0.6rem 1.2rem -0.2rem, rgba(0, 0, 0, 0.5) 0rem 0.3rem 0.7rem -0.3rem;
    }
}

.card {
    flex-flow: column nowrap;
    border-radius: $card-border-rad;
    margin: 1em 0;
    transition: $transition-time;
    box-shadow: rgba(17, 17, 26, 0.1) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.1) 0rem 0.8rem 2.4rem,
        rgba(17, 17, 26, 0.1) 0rem 1.6rem 5.6rem;
    &:hover,
    &:focus {
        background: $card-hover-color;
        box-shadow: rgba(17, 17, 26, 0.2) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.2) 0rem 0.8rem 2.4rem,
            rgba(17, 17, 26, 0.2) 0rem 1.6rem 5.6rem;
    }
}
