/*****************************************
* HTML ELEMENTS RESET
*****************************************/

@use "../utils/" as *;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
}

body {
  font-size: $body-font-size;
}

img,
picture {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: $img-object-fit;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
