/*****************************************
* TYPOGRAPHY RULES
*****************************************/

@use "../utils/" as *;

body {
    font-family: $text-font, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}
