/*****************************************
* UTILITY CLASSES
*****************************************/

@use "../utils/" as *;

.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.page-container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
