/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.location {
    background: $location-bg-color;
    color: $location-text-color;
    padding: 1em;
    &-container {
        column-gap: 1.2em;
        justify-content: center;
        align-items: center;
    }
    &-shadow {
        -webkit-box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    }
}

.explore {
    background: $section-bg-color;
    padding: 2em 0;
    &-container {
        text-align: center;
    }
    &-text {
        color: $explore-text-color;
        margin: 1em 0;
    }
}

.steps {
    padding: 2em 0;
    &-list {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
    &-card {
        width: 90%;
        margin: 1em 0;
        padding: 2em 0;
        border-radius: 2.4rem;
        background: $step-card-color;
        font-weight: 500;
        text-align: center;
        transition: $transition-time;
        &:hover,
        &:focus {
            background: $step-hover-color;
        }
    }
}
