/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.location {
    background: $location-bg-color;
    color: $location-text-color;
    padding: 1em;

    &-container {
        column-gap: 1.2em;
        justify-content: center;
        align-items: center;
    }

    &-shadow {
        -webkit-box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    }
}

.explore {
    background: $section-bg-color;
    padding: $section-padding 0;

    &-container {
        text-align: center;
    }

    &-text {
        color: $explore-text-color;
        margin: 1em 0;
    }
}

.steps {
    padding: $section-padding 0;

    &-list {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
    &-card {
        position: relative;
        z-index: 1;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 1em 0;
        padding: 1.5em 1em;
        border-radius: 2.4rem;
        background: $step-card-color;
        box-shadow: rgba(17, 17, 26, 0.1) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.1) 0rem 0.8rem 2.4rem,
            rgba(17, 17, 26, 0.1) 0rem 1.6rem 5.6rem;
        transition: $transition-time;

        &-num {
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -1.5rem;
            z-index: 2;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            color: $btn-text-color;
            background: $primary-color;
        }

        &-logo {
            color: $step-card-logo-color;
            font-size: 1.6rem;
        }

        &-text {
            color: $step-card-text-color;
            font-size: 1.5rem;
            font-weight: 500;
            margin-left: 1em;
        }

        &:hover,
        &:focus {
            .steps-card-logo {
                color: $primary-color;
            }

            background: $step-hover-color;
            box-shadow: rgba(17, 17, 26, 0.2) 0rem 0.4rem 1.6rem, rgba(17, 17, 26, 0.2) 0rem 0.8rem 2.4rem,
                rgba(17, 17, 26, 0.2) 0rem 1.6rem 5.6rem;
        }
    }
}

.restaurants {
    background: $section-bg-color;
    padding: $section-padding 0;

    &-card {
        position: relative;
        z-index: 1;
        height: 25rem;
        transition: $transition-time;

        &-desc {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 35%;
            padding: 1em;
        }

        &-img {
            border-radius: $card-border-rad $card-border-rad 0 0;
            height: 65%;
        }

        &-new {
            position: absolute;
            z-index: 2;
            top: 1em;
            right: 1em;
            background: $tertiary-color;
            color: $new-text-color;
            padding: 0.5em 0.8em;
        }

        &-heart {
            color: $restaurants-heart-color;
            font-size: 2.5rem;
            margin-right: 0.5em;
        }

        &:hover,
        &:focus {
            .restaurants-card-title {
                color: $primary-color;
            }
        }
    }
}
