/*****************************************
* MENU PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.menu {
    &-img {
        height: 20rem;
    }

    &-header {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        &-title {
            color: $menu-title-color;
            font-family: $logo-font, cursive;
            font-size: 2.5rem;
        }

        &-heart {
            color: $menu-heart-color;
            font-size: 2.5rem;
            margin: 0 0.5em 0 0;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
        margin-top: -4rem;
        padding: $section-padding 0;
        background: $menu-bg-color;
        border-radius: $menu-border-rad $menu-border-rad 0 0;
    }

    &-section {
        &-title {
            color: $menu-section-title-color;
            font-weight: 400;
            font-size: 1.6rem;
        }
    }

    &-card {
        padding: 1em;

        &-text {
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
        }

        &-desc {
            color: $menu-card-desc-color;
        }

        &-price {
            color: $menu-card-price-color;
        }
    }

    &-footer {
        flex-flow: row nowrap;
    }

    &-btn {
        margin: 1em auto;
    }
}
