/*****************************************
* MENU PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.menu {
    &-img {
        height: 20rem;
    }

    &-header {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        &-title {
            color: $menu-title-color;
            font-family: $logo-font, cursive;
            font-size: 2.5rem;
        }

        &-heart {
            color: $menu-heart-color;
            font-size: 2.5rem;
            margin: 0 0.5em 0 0;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
        margin-top: -4rem;
        padding: $section-padding 0;
        background: $menu-bg-color;
        border-radius: $menu-border-rad $menu-border-rad 0 0;
    }

    &-section {
        flex-flow: column nowrap;

        @include for-desktop {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &-container {
            @include for-desktop {
                width: 32%;
            }
        }

        &-title {
            position: relative;
            color: $menu-section-title-color;
            font-weight: 400;
            font-size: 1.6rem;

            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 4rem;
                height: 0.4rem;
                background-color: $tertiary-color;
                bottom: -0.5rem;
            }
        }

        > :nth-child(1) {
            visibility: hidden;
            animation: fadein 2s ease-in-out forwards 1.6s;
        }

        > :nth-child(2) {
            visibility: hidden;
            animation: fadein 2s ease-in-out forwards 1.8s;
        }

        > :nth-child(3) {
            visibility: hidden;
            animation: fadein 2s ease-in-out forwards 2s;
        }
    }

    &-card {
        flex-flow: row nowrap;

        &-container {
            width: 100%;
            padding: 1em;
            border-radius: $card-border-rad;
            transition: $transition-time;
        }

        &-title {
            @include dot-overflow;
            transition: $transition-time;
        }

        &-text {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &-desc {
            color: $menu-card-desc-color;
            @include dot-overflow;
        }

        &-price {
            color: $menu-card-price-color;
            margin-right: 0.5em;
        }

        &-checkbox {
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 0 $card-border-rad $card-border-rad 0;
            background: $tertiary-color;
            transition: 1s;
        }

        &-check {
            color: $menu-card-check-color;
            font-size: 2.2rem;
            transition: $transition-time;
        }

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;

            .menu-card-title {
                color: $primary-color;
            }

            .menu-card-container {
                width: 85%;
            }

            .menu-card-checkbox {
                display: flex;
                width: 15%;
            }

            .menu-card-check {
                animation: rotate-right $transition-time forwards;
            }
        }
    }

    &-footer {
        flex-flow: row nowrap;
    }

    &-btn {
        margin: 1em auto;
    }
}
