$mobile-first: true; // Switch to false for "dektop-first"
$min-width: 320px; // Used as lower limit for "mobile-first" media query
$max-width: 1365px; // Used as upper limit for "desktop-first" media query
$img-object-fit: cover; // Default object-fit setting for all <img>
$transition-time: 200ms; // Don't go over 300ms
$btn-gradient-deg: 350deg;
$section-padding: 2.5em;
$card-border-rad: 2rem;
$menu-border-rad: 4rem;

$html-font-size: 62.5%; // 62.5% of default HTML font size is 10 px. Used to make rem calculations easier (1 rem is now 10px)
$body-font-size: 1.6rem; // Used with $html-font-size: 62.5% this resets <body> font size to default size of 16px
$resp-font-vw: 0.4vw; // Increment value for responsive font sizing
$logo-font: "Shrikhand";
$text-font: "Roboto";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$logo-color: #101010;
$btn-text-color: #ffffff;
$footer-bg-color: #353535;
$footer-text-color: #ffffff;
$location-bg-color: #eaeaea;
$location-text-color: #353535;
$section-bg-color: #f7f7f7;
$explore-text-color: #353535;
$step-card-color: #f7f7f7;
$step-hover-color: #f5edff;
$step-card-text-color: #1f1f1f;
$step-card-logo-color: #7e7e7e;
$card-hover-color: #f5edff;
$menu-bg-color: #f7f7f7;
$menu-title-color: #101010;
$menu-heart-color: #4a4a4a;
$menu-section-title-color: #1f1f1f;
